.SideBar {
  flex: 0.3;
  max-width: 300px;
  padding-right: 20px;
}
.sidebar_compose {
  background-color: #fff;
  border: none;
  box-shadow: 0px 2px 5px 2px #00000025 !important;
  padding: 15px;
  color: gray !important;
  border-radius: 30px !important;
  margin: 20px 0 20px 20px !important;
}
.sidebar_option {
  display: flex;
  color: gray;
  padding: 0px 20px;
  height: 40px;
  align-items: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-weight: bold;
  font-size: 14px;
}
.sidebar_option:hover {
  background-color: rgba(255, 0, 0, 0.054);
  cursor: pointer;
  transition: 500ms;
  color: red;
  font-weight: bold;
}
.sidebar_option:hover > p {
  display: block;
  transition: 100ms;
}
.sidebar_option--active {
  background-color: rgba(255, 0, 0, 0.081);
  cursor: pointer;
  transition: 500ms;
  color: red;
  font-weight: bold;
}
.sidebar_option--active > p {
  display: block !important;
}
.sidebar_option > p {
  margin-left: auto;
  display: none;
}
.sidebar_option > h3 {
  margin-left: 10px;
}
.sidebar_icon {
  display: flex;
  justify-content: center;
}
