.MuiDialog-container.MuiDialog-scrollPaper.css-hz1bth-MuiDialog-container {
  position: relative;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  position: absolute;
  bottom: 0;
  right: 0;
}
