.maillist,
.mailbody-header {
  flex: 1;
  overflow: scroll;
}
.maillistheader,
.mailbody-header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  border-bottom: 1px solid whitesmoke;
  background-color: #fff;
}
.maillistheader_right,
.mailbody-header-right {
  margin-right: 20px;
}
.maillist_bottom_option {
  display: flex;
  align-items: center;
  padding: 8px;
  min-width: 200px;
  background-color: #fff;
  color: gray;
  border-bottom: 2px solid #fff;
  cursor: pointer;
  font-size: 14px;
}
.maillist_bottom_option_active {
  background-color: rgba(255, 0, 0, 0.054);
  transition: 400ms;
  color: red;
  border-bottom: 2px solid red;
}
.maillist_bottom {
  display: flex;
  position: sticky;
  top: 0;
}
.maillist_bottom_option:hover:not(.maillist_bottom_option_active) {
  background-color: rgba(0, 17, 255, 0.054);
  transition: 400ms;
  border-bottom: 2px solid rgb(38, 0, 255);
}
.maillist_bottom_option span {
  margin-right: 8px;
}
.mailbody-header-left button {
  margin-right: 10px;
}
.mailbody {
  background: #f3f3ff;
  flex: 1;
}
.mailbox {
  background-color: #fff;
  height: 100vh;
  margin: 20px;
  box-shadow: -2px 0px 7px 2px #0000000a;
}
.mailbody_des {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mailbody_description {
  display: flex;
  align-items: center;
}
.mailbody_description h2 {
  font-size: 18px;
  font-weight: 600;
  margin-right: 10px;
  padding: 30px 0 30px 30px;
}
.mailbody_description p {
  font-size: 14px;
  margin-left: 10px;
}
.mailbody_des span {
  margin-right: 15px;
  color: gray;
  font-size: 14px;
}
.mailbody-header-content p {
  padding: 0 20px 20px 20px;
}
